# these values are from the current upstream:
# https://github.com/pylint-dev/pylint/blob/main/pylintrc

[DESIGN]
# Maximum number of arguments for function / method
max-args = 10 # EDIT: increased from 9 to 10
# Maximum number of locals for function / method body
max-locals = 30 # EDIT: increased from 19 to 30
# Maximum number of return / yield for function / method body
max-returns=11
# Maximum number of branch for function / method body
max-branches = 20
# Maximum number of statements in function / method body
max-statements = 50
# Maximum number of attributes for a class (see R0902).
max-attributes=11
# Maximum number of statements in a try-block
max-try-statements = 7
