[DESIGN]

# Maximum number of arguments for function / method.
max-args = 20 # EDIT: increased from 5 to 20

# Maximum number of locals for function / method body.
max-locals = 40 # EDIT: increased from 15 to 40

# Maximum number of return / yield for function / method body.
max-returns=11 # EDIT: increased from 6 to 11

# Maximum number of branch for function / method body.
max-branches = 35 # EDIT: increased from 12 to 35

# Maximum number of statements in function / method body.
max-statements = 100 # EDIT: increased from 50 to 100

# Maximum number of attributes for a class (see R0902).
max-attributes = 20 # EDIT: increased from 7 to 20

# Maximum number of public methods for a class (see R0904).
max-public-methods = 30 # EDIT: increased from 20 to 30

# Maximum number of positional arguments (see R0917).
max-positional-arguments = 20 # EDIT: increased from 5 to 20


[FORMAT]

# Maximum number of lines in a module.
max-module-lines = 1500 # EDIT: increased from 1000 to 1500


[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes = FIXME,XXX # EDIT: removed TODO which are present in code to note future work


[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines = 8 # EDIT: increased from 4 to 8


[REFACTORING]

# Maximum number of nested blocks for function / method body
max-nested-blocks = 8 # EDIT: increased from 5 to 8
